
ul,li,table,th,td,div,a,img,p,h1,h2,h3,h4,*{
    margin: 0;
    padding: 0;
    font-weight: normal;
}
a {
    text-decoration: none;
    color: #29bde0;
}
img {
    border: none;
}

li {
    list-style:none;
}

body{
	font-family: "Microsoft YaHei"
}

.wrap{
	width:100%;
	max-width: 640px;
	margin:0 auto;
	position:relative;
	overflow: hidden;

}
#oWrap{
	transition:all 1s;	
}
.sidebar-more{
	background: #fff;
	width:78.125%;
	position:absolute;
	left:-78.125%;     /*      换位*/
	font-size: 2.734vw;
	z-index: 999;
}
.sidebar-more ul li{
	padding:4% 7%;
	border-bottom: 1px solid #d6d6d6;
	overflow: hidden;
}
.sidebar-more ul li a{
	padding-left:14%;
	line-height: 1.499;
}
.left{
	width:9%;
	float:left;
	padding-left:7%;
}
.right{
	width:5.6%;
	float:right;
	padding-right:7%;
}

.header{
	background: #29bde0;
}
#btn-more{
	width:5.3125%;
	padding: 6.25% 0 3.125% 3.125%;
    cursor:pointer;
}

.main {
	widows: 100%;
	background: #f0f0f0;
	padding:0 4.375% 9.375% ;
}
.main .title{
	padding:5.46878% 0;	
}
.main .title h1{	
	display:block;
	border:1px solid #d6d6d6;
	line-height: 3.59375;
	text-align: center;
	font-size: 3.1vw;
	color:#9a9a9a;
	background:#fff url(task5Images/arrow2.png) no-repeat 97.4% ;
}

.content {
	background: #fff;
	border:1px solid #d6d6d6;
	text-align: center	;
	position: relative;
}
.content h1{
	font-size: 3.613vw;
	line-height: 2.5135;
	border-bottom: 1px solid #fbb435;
	color:#fbb435;
	margin-bottom: 4.6875%
}
.content span{
	display: inline-block;
	font-size: 3.32vw;
	background: #69d1e9;
	color:#fff;
	width:78.633%;
	line-height: 3.91;
}
.content p{
	line-height: 3.478;
	font-size: 2.246vw;
	color:#787878;
}
.content img{
	position: absolute;
	width:5%;
	right:1.72%;
	top:50%;
}

.bottom-nav{
	overflow: hidden;
	padding:0 39.383% 1.5625%;
}
.bottom-nav a{
	display: block;
	border-radius: 50%;
	float:left;
	margin:0 4%;
	background: #f0f0f0;
	color: #f0f0f0;
	padding:8%;
}
.bottom-nav a:first-child{
	background: #69d1e9;
}
